.testDiv {

    /* background: green; */
    display: inline-block;
    background-color: cadetblue;
    position: relative;
    width: '500px';
    left: 130px;
    top: 130px;    
}

.hate {
    height: 60px;
    width: auto;
}