.root12 {  
  background: url(/src/images/lep1.png) no-repeat center top fixed;  
  /* background-position: 50px -60px; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}