body:before {
	content:"";
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:-1; 

  /* background: rgb(255,255,255);
  background: linear-gradient(152deg, rgba(255,255,255,1) 50%, rgba(9,17,52,1) 50%); */

  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}


.Mui-selected {
	background-color:#4287f5 !important;	
}

.carousel .slide{ background: none; }